<style>
    .container {
        padding: 40px 0;
    }
</style>
<div class="content-box">
    <div class="row table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> 笔记标题 </th>
                    <th> 笔记分类 </th>
                    <th> 发布状态 </th>
                    <th> 添加时间 </th>
                    <th> 操作 </th>
                </tr>
            </thead>
            <tbody>
                <% if(data.docs && data.docs.length > 0) {%>
                <% data.docs.forEach(function(item,index){%>
                <tr>
                    <td> <a href="/detail/<%= item._id %>"><%= item.title %></a> </td>
                    <td> <%= data.classifyMap[item.classify] %> </td>
                    <td> <%= item.ispublish == true ? '发布' : '暂未发布' %> </td>
                    <td> <%= dateFormat(item.createtime) %> </td>
                    <td>
                        <button type="button" class="recoverBlog btn btn-info btn-sm"
                            data-id="<%= item._id %>">恢复</button>
                        <button type="button" class="destroyBlog btn btn-danger btn-sm"
                            data-id="<%= item._id %>">永久删除</button>
                    </td>
                </tr>
                <% }) %>
                <% }else{ %>
                <tr>
                    <td colspan="4">暂无数据~</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script>
    $(".recoverBlog").click(function () {
        let id = $(this).data("id");
        if (id && id.length > 0) {
            axios.post('/recoverBlog', {
                id: id
            }).then(function (res) {
                if (res.data.code == 0) {
                    console.log(res.data.msg);
                    window.location.reload(true);
                } else {
                    console.log(res.data.msg);
                }
            }).catch(function (err) {
                console.log(err);
            })
        }
    })
    $(".destroyBlog").click(function () {
        let id = $(this).data("id");
        if (id && id.length > 0) {
            axios.post('/destroyBlog', {
                id: id
            }).then(function (res) {
                if (res.data.code == 0) {
                    console.log(res.data.msg);
                    window.location.reload(true);
                } else {
                    console.log(res.data.msg);
                }
            }).catch(function (err) {
                console.log(err);
            })
        }
    })
</script>