<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/rotate.css" />
  <style>
    body {
      background: url(/assets/images/bg.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .index-box {
      width: 100%;
      height: auto;
      padding: 10px;
    }

    .my-intro {
      width: 100%;
      height: 395px;
      box-sizing: border-box;
      padding: 0 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px #d1d1d1;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;
    }

    .my-intro:hover {
      box-shadow: 0 0 10px #a8a8a8;
    }

    .header-box {
      width: 100px;
      height: 100px;
      margin-top: 30px;
      border-radius: 6px;
      overflow: hidden;
    }

    .header-box img {
      width: 100%;
      height: 100%;
    }

    .name {
      font-size: 18px;
      color: #333;
      margin: 10px 0;
    }

    .user-info {
      font-size: 16px;
      line-height: 1.6em;
    }

    .icon-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-item {
      width: 40px;
      height: 40px;
      margin: 20px;
      cursor: pointer;
      position: relative;
    }

    .icon-img {
      width: 100%;
      height: 100%;
    }

    .icon-item:nth-child(1):hover::after {
      content: '';
      display: block;
      clear: both;
      width: 120px;
      height: 120px;
      border: 5px solid white;
      background: url('/assets/images/qq-code.jpg');
      background-size: 100% 100%;
      box-shadow: 0 0 10px #d1d1d1;
      position: absolute;
      top: -120px;
      left: 0;
      transform: translate(-40px, 0);
      z-index: 99999;
    }

    .icon-item:nth-child(2):hover::after {
      content: '';
      display: block;
      clear: both;
      width: 120px;
      height: 120px;
      border: 5px solid white;
      background: url('/assets/images/wx-code.jpg');
      background-size: 100% 100%;
      box-shadow: 0 0 10px #d1d1d1;
      position: absolute;
      top: -120px;
      left: 0;
      transform: translate(-40px, 0);
      z-index: 99999;
    }

    .icon-item:nth-child(3) a {
      font-size: 14px;
      display: none;
      text-decoration: none;
      width: 100px;
      height: 30px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background: #fff;
      box-shadow: 0 0 10px #d1d1d1;
      position: absolute;
      top: -30px;
      left: 0;
      transform: translate(-30px, 0);
      z-index: 99999;
    }

    .icon-item:nth-child(3):hover a {
      display: flex;
    }

    .aside-box {
      width: 100%;
      height: 390px;
      box-sizing: border-box;
      padding: 0 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px #d1d1d1;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      transition: all 0.5;
    }

    .aside-box:hover {
      box-shadow: 0 0 10px #a8a8a8;
    }

    .aside-title {
      font-size: 16px;
      color: #333;
      margin-bottom: 20px;
    }

    .arc-list {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 0 0 10px 0;
    }

    .arc-item {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      box-shadow: 0 0 10px #d1d1d1;
      transition: all 0.5s;
    }

    .arc-item:hover {
      box-shadow: 0 0 10px #a8a8a8;
    }

    .arc-name {
      font-size: 24px;
      color: #333;
      margin-bottom: 6px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .arc-name:hover {
      color: #333333;
    }

    .arc-tips-group {
      display: flex;
    }

    .arc-tip-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .arc-tip-item img {
      width: 14px;
      height: auto;
      margin-right: 5px;
    }

    .arc-tip {
      font-size: 14px;
      color: #666;
    }

    .get-more {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #8a8a8a;
      text-decoration: none;
    }

    .get-more:hover {
      color: #666666;
      text-decoration: none;
    }

    .get-more span {
      border-bottom: 1px solid #8a8a8a;
    }

    .get-more span:hover {
      border-bottom: 1px solid #666666;
    }

    .icon-more {
      width: 16px;
      height: auto;
    }

    .no-data {
      font-size: 14px;
      color: #666;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <%- include('./_nav.ejs', {url: data.currentUrl}) -%>
  <div class="index-box">
    <div class="main-box col-md-9">
      <div class="content-box">
        <div class="arc-list">
          <% if(data.docs && data.docs.length > 0) {%>
          <% data.docs.forEach(function(item,index){%>
          <div class="arc-item">
            <a class="arc-name" href="/detail?id=<%= item._id %>"><%= item.title %></a>
            <div class="arc-tips-group">
              <div class="arc-tip-item">
                <img src="/assets/images/icon-arc-classify.png">
                <p class="arc-tip"><%= data.classifyMap[item.classify] %></p>
              </div>
              <div class="arc-tip-item">
                <img src="/assets/images/icon-clock.png">
                <p class="arc-tip"><%= dateFormat(item.updatetime) %></p>
              </div>
            </div>
          </div>
          <% }) %>
          <a href="/blog" class="get-more">
            <span>查看更多</span>
            <img class="icon-more" src="/assets/images/icon-more.png">
          </a>
          <% }else{ %>
          <p class="no-data">暂无笔记~</p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="aside col-md-3">
      <div class="my-intro">
        <div class="header-box">
          <img src="/assets/images/header.jpg">
        </div>
        <p class="name">熊刚</p>
        <div class="user-info">
          <p>职业：软件攻城狮</p>
          <p>现居：四川省-成都市</p>
          <p>邮箱：a2777541176@foxmail.com</p>
          <p>QQ：2777541176</p>
          <p>微信：little-bears</p>
        </div>
        <div class="icon-list">
          <div class="icon-item">
            <img class="icon-img" src="/assets/images/QQ.png">
          </div>
          <div class="icon-item">
            <img class="icon-img" src="/assets/images/wechat.png">
          </div>
          <div class="icon-item">
            <img class="icon-img" src="/assets/images/github.png">
            <a href="https://github.com/little-bears?tab=repositories" target="_blank">我的GitHub</a>
          </div>
        </div>
      </div>
      <div class="aside-box">
        <p class="aside-title">我的技能</p>
        <div id="rotate-box">
          <div class="out_div out_front">
            Vue
          </div>
          <div class="out_div out_back">
            mongoDB
          </div>
          <div class="out_div out_left">
            模块化<br />组件化
          </div>
          <div class="out_div out_right">
            Node
          </div>
          <div class="out_div out_top">
            小程序
          </div>
          <div class="out_div out_bottom">
            Canvas
          </div>
          <span class="in_span in_front">
            Python<br />爬虫
          </span>
          <span class="in_span in_back">
            MySQL
          </span>
          <span class="in_span in_left">
            WebPack
          </span>
          <span class="in_span in_right">
            设计模式
          </span>
          <span class="in_span in_top">
            Git
          </span>
          <span class="in_span in_bottom">
            electron
          </span>
        </div>
      </div>
      <%- include('./_footer.ejs') -%>
    </div>
  </div>
  <script src="../assets/js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
</body>

</html>